.todoList {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.listItem {
    list-style-type: none;
}

.delete {
    margin: 10px;
    background-color: rgb(74, 74, 74);
    color: white;
}